<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="row text-center">
			
			<div class="col-xs-6">
				<div class="nav navbar-nav">
					<!-- <span class='h3'>Super Admin</span> -->
				</div>
			</div>
			
			<div class="col-xs-3">
			</div>
			<div class="col-xs-3">
				<div class="nav navbar-nav">
				<button id='imgFlush' class="btn btn-danger btn-sm" ng-click="logout()">Logout</button>
				</div>
			</div>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			 <h2>Super Admin,</h2> 
			<p class="lead">Please select option</p>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<a href="#/Enroll"><img class="center-block img-responsive img-thumbnail" src="images/icon1.png"/><br><p class="lead text-center">Enroll</p></a>
		</div>
		
	</div>
	<div class="row">
		<div class="col-xs-6">
			<a href="#/ImageGallery"><img class="center-block img-responsive img-thumbnail" src="images/icon3.png"/><br><p class="lead text-center">Gallery</p></a>
		</div>
	</div>
</div>